@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
	font-family: 'Ubuntu', sans-serif;
}
body{
	background: linear-gradient(to right, #3525af, #9153c9);
	height:800px;
}
.resume{
	width: 820px;
	background: #fff;
	margin: 25px auto;
	display: flex;
}
.left{
	background: #6e9b9b;
	width: 280px;
	padding:  0px 20px;
}

.right{
	width: calc(100% - 250px);
}

.resume .left .img_holder{
	border-radius: 50%;
	text-align: center;
	padding: 30px 0;
    
}
.image{
	border-radius: 50%;
	margin-top: 20px;
	margin-left: 20px;
	border:3px solid white;
}
.left .img_holder {
	width: 200px;
	border-radius:50%;
	overflow: hidden;
}


.pb{
	padding-bottom: 20px;
}

.title{
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 5px;
	padding-bottom: 10px;
	color: white;
	position: relative;
	margin-bottom: 15px;
}
.title:before{
	content: "";
	position: absolute;
	top: 35px;
	width: 50px;
	height: 3px;
	background: #3525af;
}

.left .icon{
	font-size: 20px;
	color: #fff;
}

.left .text{
	color:white;
	text-transform: uppercase;
	font-size: 13px;
}

.contact-wrap .contact .li_wrap{
	display: flex;
	/* grid-template-columns: 0.3fr 1fr; */
	align-items: center;
	width: 100%;
	margin-bottom: 15px;
}
/* .contact .li_wrap .icons{
	display:flex;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background:#fff;
	align-items: center;
	justify-content: center;
	margin-right: 15px;
    
} */
.icons{
	border-radius: 50%;
	/* background-color: #fff; */
	width: 30px;
	height: 30px;
	align-items: center;
	justify-content: center;
	padding-left: 7.5px;
	padding-top: 5px;
	/* border: 2px solid #fff; */
	/* color:white; */
	/* border:1px solid white; */
}
 .contact .li-wrap .icons:hover{
	background-color: white;
	color: #9153c9;
}
 .contact .li-wrap .text{
	width:calc(100% - 50px);
}

	.skills {
		margin-left: 20px;

	}

/* .contact .li_wrap .text{ */
	/* width: calc(100% - 50px); */
	/* word-break: break-word; */
	/* color:#9153c9; */
/* } */
.hobbies ul{
	display: flex;
	flex-wrap: wrap;
    list-style-type: none;
	justify-content: space-between;
}
.hobbies .li_wrap{
	width: 100px;
	height: 100px;
	margin-bottom: 15px;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.hobbies .li_wrap{
	border: 2px solid #fff;
}
.hobbies .li_wrap .icon,
.hobbies .li_wrap .text{
	color: #fff;
}
.hobbies .li_wrap:hover{
	background: #fff;
}

.hobbies .li_wrap:hover .icon,
.hobbies .li_wrap:hover .text{
	color: #9153c9;
}
.header{
	background:#e7c9bb;
	padding: 15px 30px;
	color: #fff;
	height: 200px;
}

.header .name{
	font-size: 50px;
	text-transform: uppercase;
	font-weight: 700;
    color:black;
}
.header .role{
	font-weight: 300;
	font-size: 20px;
}

.header .about{
	margin-top: 20px;
	line-height: 26px;
}
.right_inner{
	padding: 20px;
	color: #292b2f;

}

.right_inner .education{
	margin-top: 30px;
}


.right_inner .li_wrap{
	/* display: flex; */
	margin-bottom: 15px;
    
}

.right_inner .li_wrap .date {
    width: 125px;
    color:black;
}
/* .right_inner .li_wrap .info{
	width: calc(100%  - 125px);
	/* padding-left: 25px; */
	/* position: relative; */
*/

/* .right_inner .li_wrap .info_title{
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 2px;
	color: #9153c9;
} */

.right_inner .li_wrap .info_com{
	font-weight: 300;
	font-size: 14px;
	margin-top: 3px;
	/* margin-left: 20px; */

}

.right_inner .li_wrap .info_cont{
	margin-top: 15px;
	
}
.education .li-wrap{
	width: calc(100%  - 125px);
	/* padding-left: 25px; */
	position: relative;
	margin-left: 0px;
	list-style-type: none;

}
.education .li-wrap::before{
	content: "";
	position: absolute;
	top: 1px;
	left: -40px;
	width: 10px;
	height: 10px;
	background: gray;
	border-radius: 50%;
}
.education .li-wrap .education1::after{
	content: "";
	position: absolute;
	top: 5px;
	left: -36px;
	width: 2px;
	height: 90px;
	border-left:2px solid gray;
}
/* .education .li-wrap .education2::before{
	content: "";
	position: absolute;
	top: 1px;
	left: -40px;
	width: 10px;
	height: 10px;
	background: gray;
	border-radius: 50%;
} */
.education .li-wrap .education2::after{
	content: "";
	position: absolute;
	top: 5px;
	left: -36px;
	width: 2px;
	height: 90px;
	border-left:2px solid gray;
}
/* .education-list{
	list-style-type: none;
} */
.projects .li-wrap {
	width: calc(100%  - 125px);
	/* padding-left: 25px; */
	position: relative;
	margin-left: 0px;
	list-style-type: none;
}
.projects .li-wrap::before{
	content: "";
	position: absolute;
	top: 2px;
	left: -40px;
	width: 10px;
	height: 10px;
	background: gray;
	border-radius: 50%;

}
.projects .li-wrap .project1::after{
	content: "";
	position: absolute;
	top: 8px;
	left: -36px;
	width: 2px;
	height: 90px;
	border-left:2px solid gray;
}
.projects .li-wrap .project2::after{
	content: "";
	position: absolute;
	top: 8px;
	left: -36px;
	width: 2px;
	height: 105px;
	border-left:2px solid gray;
}
.project-list {
	position: relative;
    margin-left: 60px;
	margin-top: 20px;
	
}
.education-list{
	margin-top: 20px;
    margin-left: 60px;
	
}
/* .projects .li-wrap .project3::after{
	content: none;
	height:0;
} */

/* .right_inner .li_wrap .project1::before{
	content: "";
	position: absolute;
	top: -15px;
	left: -40px;
	width: 10px;
	height: 10px;
	background: gray;
	border-radius: 50%;
	
} */
/* .right_inner .education-list::before{
	content: "";
	position: absolute;
	top: -15px;
	left: -40px;
	width: 10px;
	height: 10px;
	background: gray;
	border-radius: 50%;

} */
/* .right_inner .li_wrap:nth-last-child():after{
	content:none;
} */
/* .project-list {
	position: relative;
    margin-left: 60px;
	margin-top: 20px;
	
}
.education-list{
	margin-top: 20px;
    margin-left: 60px;
	
} */
/* .education .education-wrap .education-list::before{
	content:"";
	position: absolute;
	top:12px;
	left:-22px;
	height:10px;
	width:10px;
	border-radius: 50%;
	background-color:brown;

} */
/* .education-list li{
	list-style-type: none;
	position: relative;

}
.education-list li::before{
	content:"";
	position: absolute;
	top:12px;
	left:-18px;
	height:60px;
	border-left: 2px solid brown;

} */
.project-title{
	background-color:lightgray;
	padding-left: 50px;
	margin-right: 250px;
	padding-top: 2px;
	padding-bottom: 3px;
	margin-left: -20px;
	margin-top: -20px;
	

}
.education-title{
	background-color:lightgray;
	padding-left: 50px;
	margin-right: 250px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-left: -20px;

}
.description{
	padding: 10px;
	margin-left: 3px;
}
.info{
	padding: 2px;
}


  